
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>list-inline</title>
	<meta content="telephone=no" name="format-detection">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<meta name="description" content="">

	<!-- style -->
	<link rel="stylesheet" type="text/css" href="/assets/style.css">
	<script src="/assets/jquery-2.2.3.min.js"></script>
</head>
<body>
<ul class="list-inline">
			<li class="list-inline__item">
			<i class="icon-time" aria-hidden="true"></i>							20h
					</li>
			<li class="list-inline__item">
										<a class="link" href="#">Boxing</a>				
					</li>
			<li class="list-inline__item">
			<i class="icon-comment-alt" aria-hidden="true"></i>							108
					</li>
	</ul>
	<script src="/assets/components.js"></script>
</body>
</html>
