// http://www.bbc.co.uk/gel/guidelines/typography

.pica {
    font-size: 1rem;
    line-height: 1.25rem;
}
.double-pica {
	font-size: 1.5rem;
    line-height: 1.75rem;
}

.long-primer {
	font-size: 0.875rem;
    line-height: 1.125rem;
}


// utility classes for title
.u-bold {
	font-weight: 600;
}