
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>thumbnail</title>
	<meta content="telephone=no" name="format-detection">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<meta name="description" content="">

	<!-- style -->
	<link rel="stylesheet" type="text/css" href="chewingum/demo/assets/style.css">
	<script src="chewingum/demo/assets/jquery-2.2.3.min.js"></script>
</head>
<body>

<img src="http://placehold.it/574x323/" alt="Placeholder">
	<script src="chewingum/demo/assets/components.js"></script>
</body>
</html>
